#cookiePanel {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 5%;
  right: 5%;
  width: 90%;
  padding: 10px 14px 5px 14px;
  align-items: center;
  text-align:  center;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#detailPanel {
  display: none;
  position: fixed;
  bottom: 100px;
  left: auto;
  right: auto;
  width: auto;
  padding: 5px 14px;
  align-items: center;
  text-align:  center;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#detailToggle {
  float: right;
}
#clearCookieLink {
  position: fixed;
  top: 0px;
  margin: 5px;
  right: 0px;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}
#btnConsentGranted {
  background-color: #00B1FF;; /* OGC Blue */
  color: white;
}
#btnConsentDenied {
  background-color: #e7e7e7; /* Gray */ 
  color: #C0C0C0; 
}
.btnConsent {
  border: none;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e7e7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00B1FF;;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00B1FF;;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
