[submodule "sprints/15"]
	path = sprints/15
	url = https://github.com/doublebyte1/sprint-web-15.git
	branch = gh-pages
[submodule "sprints/16"]
	path = sprints/16
	url = https://github.com/doublebyte1/sprint-web-16.git
	branch = gh-pages
