doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title OWS

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/3d_emblem_lockup.ico')

        // Font Awesome icons (free version)
        //script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js', crossorigin='anonymous')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        //script(src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js")
        //link(rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css")
        //link(rel="stylesheet" type="text/css" href="assets/swagger-ui.css")

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='./')
                    img(src='assets/img/ogc-logo-white.svg', alt='...')


        section#adopters.page-section
            .container
                .text-left
                    h2.section-heading.text-uppercase OGC Web Services
                    p.text-muted 
                        | OGC Web Services were created more than ten years ago, when the web technologies looked very different from what is used nowadays.
                        | OGC encourages the transition from OWS to OGC API Standards and there is a deprecation plan in place for OWS standards.
                        | If you are going to implement a standard from scratch, please consider using one of the OGC APIs instead.

                    p
                    a(href="https://www.ogc.org/standard/wfs/" target="_blank") Web Feature Service (WFS)
                    p
                    a(href="https://www.ogc.org/standard/wms/" target="_blank") Web Map Service (WMS)
                    p
                    a(href="https://www.ogc.org/standard/wmts/" target="_blank") Web Map Tile Service (WMTS)
                    p
                    a(href="https://www.ogc.org/standard/wps/" target="_blank") Web Processing Service (WPS)
                    p
                    a(href="https://www.ogc.org/standard/wps/" target="_blank") Web Processing Service (WPS)
                    p
                    a(href="https://www.ogc.org/standard/wcs/" target="_blank") Web Coverage Service (WCS)
                    p
                    a(href="https://www.ogc.org/standard/wmc/" target="_blank") Web Map Context (WMC)
                    p
                    a(href="https://www.ogc.org/standard/wcps/" target="_blank") Web Coverage Processing Service (WCPS)
                    p

        // Footer
        footer.footer.py-4.bg-light
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; 2022. Open Geospatial Consortium all rights reserved
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://noc.social/@doublebyte')
                            i.fa-brands.fa-mastodon
                        a.btn.btn-dark.btn-social.mx-2(href='mailto:devrel@ogc.org')
                            i.fa.fa-envelope
                    .col-lg-4.text-lg-end
                        //- a.link-dark.text-decoration-none.me-3(data-bs-toggle='modal', data-bs-target='#portfolioModal1') Privacy Policy
                        a.link-dark.text-decoration-none.me-3(href='https://www.ogc.org/about/policies/privacy-policy/' target="_blank") Privacy Policy

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Jquery
        script(src='https://code.jquery.com/jquery-3.6.2.min.js')

        // Core theme JS
        script(src='js/scripts.js')

