doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Landing page for OGC code sprints.')
        meta(name='author', content='doublebyte')
        meta(name='keywords' content='hybrid, events, sprints, OGC, standards, developers, geospatial, tutorials')

        title OGC Code Sprints

        script(type='application/ld+json').
            {
                "@context": "https://schema.org",
                "@id": "https://developer.ogc.org/sprints/",
                "@type": "Event",
                "name": "OGC Code Sprint",
                "description": "A Code Sprint is a three day virtual or hybrid event, where dozens of developers from around the world come together to code and share their ideas. The main goals of this code sprint are to support the development of OGC (draft) standards, as well as software which implements those standards. In addition, it also aims to create awareness about the standards and software projects.",
                "startDate": "2024-07-10T09:00+00:00",
                "endDate": "2024-07-12T17:00+00:00",
                "eventAttendanceMode": "https://schema.org/MixedEventAttendanceMode",
                "eventStatus": "https://schema.org/EventScheduled",
                "location": {
                    "@type": "Place",
                    "name": "Geovation",
                    "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Sutton Yard, 4th floor, 65 Goswell Road",
                    "addressLocality": "London",
                    "postalCode": " EC1V -EN",
                    "addressCountry": "GB"
                    }
                },
                "image": "https://developer.ogc.org/sprints/24/assets/img/sprint-discord-water.png",
                    "organizer": {
                    "@type": "Organization",
                    "name": "OGC",
                    "url": "https://www.ogc.org/"
                }
            }

        // Favicon
        link(rel='icon', type='image/x-icon', href='../assets/3d_emblem_lockup.ico')

        // Font Awesome icons (free version)
        //script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js', crossorigin='anonymous')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='../css/styles.css', rel='stylesheet')

    body

        section#cards.py-5.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Code Sprints
                    h3.section-subheading.text-muted Here your can find current and past sprints. For more information about developer events and standards, please check the 
                        a(href='https://github.com/opengeospatial/developer-events/wiki', target="_blank") wiki page 
                        | and the 
                        a(href='https://developer.ogc.org/', target="_blank") developer website
                        | . 
                .row
                    .col-lg-4
                        .current-card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/24/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-24.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center July 2024
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/23/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-23.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center February 2024
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/22/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-22.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center October 2023
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/21/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-21.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center June 2023
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/20/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-20.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center April 2023
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/19/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-19.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center November 2022
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/18/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-18.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center September 2022
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/17/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-17.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center July 2022
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/16/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-16.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center May 2022
                    .col-lg-4
                        .card.mb-5.mb-lg-0
                            a(href='https://developer.ogc.org/sprints/15/', target="_blank")
                                img.card-img-top(src='../assets/img/sprint-15.png', alt='...')
                            .card-body
                                h5.card-title.text-muted.text-uppercase.text-center March 2022    

        // Footer
        footer.footer.py-4.bg-light
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; 2024. Open Geospatial Consortium all rights reserved
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='https://noc.social/@doublebyte')
                            i.fa-brands.fa-mastodon
                        a.btn.btn-dark.btn-social.mx-2(href='mailto:devrel@ogc.org')
                            i.fa.fa-envelope
                    .col-lg-4.text-lg-end
                        //- a.link-dark.text-decoration-none.me-3(data-bs-toggle='modal', data-bs-target='#portfolioModal1') Privacy Policy
                        a.link-dark.text-decoration-none.me-3(href='https://www.ogc.org/about/policies/privacy-policy/' target="_blank") Privacy Policy

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')

        // Jquery
        script(src='https://code.jquery.com/jquery-3.6.2.min.js')

        // Core theme JS
        script(src='../js/scripts.js')

