//
// Try section styling
//

section#try {
/*     align-items: center;
        .swagger-ui {
            width: 50%;
            padding-top: 0;
            padding-bottom: 0;
        } */
        
}
