//
// Colors
//

// Override Bootstrap color variables

//$yellow: #ffc800;
$ogc-blue: #3193d4;

// Override Bootstrap state colors variables

$primary: $ogc-blue;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;

$secondary: #fedc00;